env/
venv/
.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
.env
node_modules/

models/**/*.safetensors
models/**/*.bin
models/**/*.pt
models/**/*.h5

/models/
data/raw/
data/processed/
data/aug_unaccented_reviews.jsonl

notebook/**/results_*/
**/checkpoint-*/